@model Production_Planning_System.Models.Production

@{
    ViewData["Title"] = "Edit";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-md-6 mx-auto py-4">
    <div class="card">
        <div class="card-header text-center bg-primary text-uppercase text-white">
            <h1>Update Product Details</h1>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-6">
                    <form enctype="multipart/form-data" asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Product_Id" />
                        <div class="form-group">
                            <label asp-for="Product_Name" class="control-label"></label>
                            <input asp-for="Product_Name" class="form-control" />
                            <span asp-validation-for="Product_Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Product_Shape" class="control-label"></label>
                            <input asp-for="Product_Shape" class="form-control" />
                            <span asp-validation-for="Product_Shape" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Product_Color" class="control-label"></label>
                            <input asp-for="Product_Color" class="form-control" />
                            <span asp-validation-for="Product_Color" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Product_Quantity" class="control-label"></label>
                            <input asp-for="Product_Quantity" class="form-control" />
                            <span asp-validation-for="Product_Quantity" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label">ProfilePicture</label>
                            <div id="chooseFile">
                                <input class="form-control" type="file" name="ProfileImage" />
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-sm btn-primary rounded-2 text-uppercase" />
                            <a asp-action="Index" class="btn btn-sm btn-info rounded-2 text-uppercase text-white"><i class="fas fa-fast-backward"></i> Back to List</a>
                        </div>
                    </form>
                </div>
            </div>

          
              
           

        </div>
    </div>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@
    @section scripts{
    <script type="text/javascript">
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
